<section class="view">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="card">
               <div class="box">
                  <h1>Cadastro</h1>
                  <input type="text" placeholder="Usuario" [(ngModel)]="userName"/>
                  <input type="text" placeholder="Email" [(ngModel)]="email" /> 
                  <input type="password" placeholder="Senha" [(ngModel)]="password" (focus)="showPasswordTips()" (focusout)="showPasswordTips()"/>
                  <div *ngIf="showTips">
                     <span class="tipsText">&#8226;Ao menos 1 letra maiuscula</span>
                     <span class="tipsText">&#8226;Ao menos 6 digitos<br></span>
                     <span class="tipsText">&#8226;Ao menos 1 letra minuscula<br></span>
                     <span class="tipsText">&#8226;Ao menos 1 caractere especial<br></span>                           
                  </div>
                  <input type="password" placeholder="Confirme a senha" [(ngModel)]="passwordConfirmation"/>   
                  <div class="row">
                     <div class="col-md-12">
                        <button class="btn btn-lg col-md-6" type="submit" (click)="submit()">Cadastrar</button>
                        <button class="btn btn-lg col-md-6" routerLink="../login"><i class="bi bi-arrow-left"></i></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>